* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  background-image: url('https://images.unsplash.com/photo-1446057032654-9d8885db76c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2560&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 0.5px;
  box-shadow: 0 0 3px #000;
  transition: 2s ease;
}
.square:hover {
  transition-duration: 0s;
}